<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>


<div th:replace="base :: nav"></div>

<div class="container bg-light">
<div class="jumbotron">

    <h2>Flight Reservation Form</h2>



<div class="form-group">
    <strong>Flight-1 </strong> <br/>
    <strong>Departure From: </strong> <span
        th:text="${fromFlight.from.name}"></span><br/> <strong>
    Arrival To: </strong><span th:text="${fromFlight.to.name}"></span>
    <p>
        <strong><label>Total Price</label></strong>: [[${fromFlight.totalPrice}]]
    </p>
    <br/>
</div>
<div class="form-group" th:if=${null!=toFlight}>
    <strong>Flight-2</strong><br/>
    <strong>Departure From: </strong> <span
        th:text="${toFlight.from.name}"></span><br/>
    <strong>Arrival To: </strong><span th:text="${toFlight.to.name}"></span><br/>
</div>

<div class="container-fluid">

    <form action="#" th:action="@{/processbook}" th:object="${passenger}" method="post">
        <input type="hidden" th:field="*{id}">
        <div class="form-group row">
            <label for="firstName" class="col-sm-2 col-form-label">
                &nbsp;&nbsp; First_Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="firstName" name="firstName"
                       placeholder="First Name" value="" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="lastName" class="col-sm-2 col-form-label"> &nbsp;&nbsp;Last_Name</label>
            <div class="col-sm-6">
                <input type="text" class="form-control" id="lastName"
                       placeholder="Last Name" name="lastName" value="" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="dob" class="col-sm-2 col-form-label ">&nbsp;&nbsp;Date of Birth:</label>
            <div class="col-sm-6">
                <input type="date" class="form-control " id="dob"
                       placeholder="Date of Birth" name="dob" required aria-required="true">
            </div>
        </div>
        <div class="form-group row">
            <label for="email" class="col-sm-2 col-form-label col-form-label-sm">&nbsp;&nbsp;Email:</label>
            <div class="col-sm-6">
                <input type="text" class="form-control form-control-sm" id="email"
                       placeholder="Email" name="email" required>
            </div>
        </div>
        <div class="form-group row">
            <label for="phonenum" class="col-sm-2 col-form-label col-form-label-sm">&nbsp;&nbsp;Phone Number:</label>
            <div class="col-sm-6">
                <input type="text" th:value="*{phonenum}" class="form-control form-control-sm" id="phonenum"
                       placeholder="Phone number " name="phonenum" required>
            </div>
        </div>
        <div>
            <input type="submit" class="btn btn-primary" value="Checkout"/>
        </div>
    </form>
</div>
</div>
</div>
<div th:replace="base :: footer"></div>

</body>
</html>
