<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
    <th:block th:insert="base :: header"></th:block>
</head>
<body>

<div th:replace="base :: nav"></div>

<div class="container">
    <div class="jumbotron">

        <h1> QR Generation using the FirstName and Last name of the user. </h1>
        
        <!--<img src="C:\Users\smewl\Desktop\QrCode\img.jpg" alt="QR image " >-->
        <!--<img src="https://www.w3schools.com/images/picture.jpg" alt="QR image " >-->
      <!--//  <img src="C:/Images/1.jpg" alt="Qr image">-->
        <!--<img src="file:\C:\Users\smewl\Desktop\QrCode\img.jpg">-->

        <!--<img id="RuPic" th:src="@{/Desktop/QrCode/img.jpg"}  width="150px" height="200px" >-->





    </div>
</div>

<div th:replace="base :: footer"></div>

</body>
</html>
